In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import cbsodata
import pandas as pd
import psycopg2

In [3]:
from data.pg_connect import conn

psycopg2 connection: <connection object at 0x000002DC3BA56D00; dsn: 'user=kiufnyzelvojho password=xxx dbname=de49s33kdavj49 host=ec2-176-34-105-15.eu-west-1.compute.amazonaws.com', closed: 0>

In [6]:
table_code = '81734NED'

In [7]:
info = cbsodata.get_info(table_code)
info['Title']

'Tussen gemeenten verhuisde personen'

Get geodata

In [8]:
data = pd.DataFrame(cbsodata.get_data(table_code))

In [14]:
len(data)

2223081

In [ ]:
def single_insert(conn, insert_req):
    """ Execute a single INSERT request """
    cursor = conn.cursor()
    try:
        cursor.execute(insert_req)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()
# Connecting to the database
conn = connect(param_dic)
# Inserting each row
for i in dataframe.index:
    query = """
    INSERT into emissions(column1, column2, column3) values('%s',%s,%s);
    """ % (dataframe['column1'], dataframe['column2'], dataframe['column3'])
    single_insert(conn, query)
# Close the connection
conn.close()

In [27]:
def get_psql_tables(conn):
    """ Returns all tables in the database. """
    tables = []
    table_query = "SELECT table_name FROM information_schema.tables WHERE table_schema='public'"
    tab_cursor = conn.cursor()
    try:
        tab_cursor.execute( table_query )
        tab_names = tab_cursor.fetchall()
        # iterate list of tuples and grab first element
        for tup in tab_names:
            tables += [tup[0]]
        # close the cursor object to prevent memory leaks
        tab_cursor.close()

    except Exception as err:
        print ("get_psql_tables ERROR:", err)
        
    return tables
        
           
def df_to_psql(conn, df, name):
    """ Creates a table in the PostgresQL database from the dataframe. """

    
    if name in get_psql_tables(conn=conn):
        print('table already exists. ')
        return 0
    
    query = "CREATE TABLE weather ("
    
    for col in df.columns:
        query += "{_name} {_type}".format(_name=col, _type=)
     city varchar(80),
     temp_lo int, -- low temperature
     temp_hi int, -- high temperature
     prcp real, -- precipitation
     date date
    );

IndentationError: unexpected indent (<ipython-input-27-987b65b0bd63>, line 29)

In [28]:
data.dtypes()

TypeError: 'Series' object is not callable

In [33]:
type(data)

pandas.core.frame.DataFrame

In [38]:
data.iloc[0]

ID                                            0
RegioVanVestiging                     Nederland
RegioVanVertrek                       Nederland
Perioden                                   2011
TussenGemeentenVerhuisdePersonen_1     593721.0
Name: 0, dtype: object

In [5]:
query = "SELECT * FROM weather"
cursor = conn.cursor()
cursor.execute(query)
cursor.fetchall()

[]